h1{
    background-color: red;
}
h2{
    background-color: skyblue;
}
h3{
    background-color: aqua;
}h4{
    background-color: blueviolet;
}
  h5{
    background-color: burlywood;
  } h6{
    background-color: aquamarine;
  } p{ 
    background-color: skyblue;
  }

